<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Nicholas Wong</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-6">
        <ul class="contact-list">
            <li>
                <p>
                Front-end web developer, currently studying at Monash University. Interested in software engineering principles and patterns. Goal to move to full-stack web development.
                </p>
            </li>
            <li>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                {% if site.github_username %}
                    {% include icon-github.html username=site.github_username %}
                {% endif %}
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-6">
        &copy; 2015<script>new Date().getFullYear()>2015&&document.write("-"+new Date().getFullYear());</script>, Nicholas Wong.
      </div>
    </div>

  </div>

</footer>
