.home-page {
    text-align: center;

    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-picture {
            margin: 15px 0;
            border-radius: 100%;
            width: 35vw;
            height: 35vw;
        }
        h1 {
            margin: 15px 0;
            border-bottom: 1px solid $red-theme;
        }
        h3 {
            margin: 15px 0;
        }
    }

    .button-section {
        display: flex;
        justify-content: center;
        flex-direction: row;

        @include media-query($on-laptop) {
            flex-direction: column;
            align-items: center;
        }

        a {
            margin: 15px;
            padding: 10px 15px;
            text-decoration: none;
            border: 1px solid $red-theme;
            color: $red-theme;
            border-radius: 2px;

            @include media-query($on-laptop) {
                width: 70%;
            }

            &:hover {
                background: $red-theme;
                color: white;
            }
        }
    }


}
