.home-page {
    text-align: center;

    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-picture {
            border-radius: 100%;
            width: 30%;
            height: 30%;
        }
        h1 {
            margin-top: 15px;
            border-bottom: 1px solid $red-theme;
        }
        h3 {
            margin: 0;
        }
    }

    .button-section {
        display: flex;
        justify-content: center;

        a {
            margin: 15px;
            padding: 10px;
            text-decoration: none;
            border: 1px solid $red-theme;
            color: $red-theme;
            border-radius: 2px;

            &:hover {
                background: $red-theme;
                color: white;
            }
        }
    }
}
